<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Learn_Home</key>
	<array>
		<string>识颜色</string>
		<string>识形状</string>
		<string>识数字</string>
		<string>识动物</string>
	</array>
	<key>Learn_ColorList</key>
	<array>
		<dict>
			<key>红色</key>
			<string>0.9765,0.0745,0.0039,1.0</string>
		</dict>
		<dict>
			<key>蓝色</key>
			<string>0.0941,0.5059,1.0,1.0</string>
		</dict>
		<dict>
			<key>黄色</key>
			<string>0.9984,0.9796,0.0112,1.0</string>
		</dict>
		<dict>
			<key>绿色</key>
			<string>0.2039,0.702,0.1098,1.0</string>
		</dict>
		<dict>
			<key>橙色</key>
			<string>0.9843,0.4431,0.0588,1.0</string>
		</dict>
		<dict>
			<key>紫色</key>
			<string>0.4194,0.0,0.4946,1.0</string>
		</dict>
	</array>
	<key>Learn_ShapeList</key>
	<array>
		<string>圆形</string>
		<string>正方形</string>
		<string>长方形</string>
		<string>梯形</string>
		<string>菱形</string>
		<string>三角形</string>
	</array>
	<key>Learn_NumberList</key>
	<array>
		<string>1</string>
		<string>2</string>
		<string>3</string>
		<string>4</string>
		<string>5</string>
		<string>6</string>
		<string>7</string>
		<string>8</string>
		<string>9</string>
	</array>
	<key>learn_AnimalList</key>
	<array>
		<string>狗</string>
		<string>猫</string>
		<string>鸡</string>
		<string>鸭</string>
		<string>猪</string>
		<string>羊</string>
		<string>牛</string>
		<string>马</string>
		<string>老鼠</string>
		<string>鹿</string>
	</array>
	<key>Learn_StoryList</key>
	<array>
		<dict>
			<key>title</key>
			<string></string>
			<key>content</key>
			<array>
				<dict>
					<key>imageName</key>
					<string></string>
					<key>contentMessage</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
